@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/buttons.scss";
@import "./base/fonts.scss";
@import "./base/normes";

// ----------header----------

.header{
    @include flex-row-center;
    align-items: center;

    &__title{
        font-size: 90px;
        font-family: 'shrikhand';
        margin: 0;
        padding: 70px 0 40px 0;
    }
}

// ----------Localisation----------

.geo{ /*icone et nom des villes*/
    @include flex-row-center;
    font-size:50px;
    background-color: #EAEAEA;
    box-shadow: 0 10px 10px #D5D5D5 inset;
    color: $color-geo;
    padding: 40px;

    &__icon{
        margin-right: 50px; 
    }

    &__city{
        margin: 0;
    }
}

// ----------Présentation----------

.description{ /*presentation et bouton "explorer nos restaurants*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-desc-resto;
    padding: 65px;
    text-align: center;

    &__title{
        font-size: $font-size-h2;
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    &__details{
        font-family: 'roboto-light';
        font-size: $font-size-standard;
        margin-top: 30px;
    }

    &__btn{
        @include btn-resto;   
    }
}

// ----------Fonctionnement----------

.fonctionnement{
    @include flex-column-center;
    align-items: flex-start;
    padding: $padding-section;
    font-size: 45px;

    &__title{
        font-size: 60px;
        font-family: 'roboto-medium';
        margin: 40px 0 60px 0;
    }

    &__full-step{
        width: 100%;
        &__card-step{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.card-step{
    margin-bottom: 60px;
    

    &__step{
        @include step;
        position: relative;
        display: flex;
        align-items: center;

        &:hover{
            i{
                color: $color-primary;
            }
        }
    }

    &__cercle{ /*superposition du cercle sur step*/
        @include cercle;
        position: absolute;
        z-index: 1;
    }
}

.step{
    &__names{
        margin: 10px 0;
    }

    &__icon-container{ /*alignement et taille des icones par rapport au nom de l'étape */
        @include flex-row-center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-right: 60px;
    }

    i{
        color: #7e7e7e;
        font-size: 50px;
    }

    &:hover{
        background-color: #efe7f3;

        i{
            color: $color-primary;
        }
    }
}

// ----------section restaurants----------

.restaurants{
    padding: $padding-section;
    background-color: $bg-desc-resto;

    &__title{
        font-size: 60px;
        font-family: 'roboto-medium';
    }

    &__bloc-resto{
        @include flex-column-start;
    }
}

.card-resto{
    @include card-resto;

    img{
        height: 400px;
        border-radius: 35px 35px 0 0;
    }
}

.caption{ /*mise en forme de figcaption des card*/
    padding: 40px;

    &__names{
        margin: 0;
        font-family: 'roboto-medium';
        font-size: $font-size-standard;
    }

    &__quartier{
        margin: 10px 0 0 0;
        font-family: 'roboto-light';
        font-size: $font-size-standard;
    }

    &__nouveau{
        @include nouveau; /*style du rectangle "nouveau" sur les 2 premières card*/
        p{
            margin: 0;
            font-size: 40px;
        }
    }

    &__heart{
        @include heart;
    }
}

// ----------footer----------

.footer{
    background-color: $color-bg-footer;
    color: $color-txt-footer;
    padding: 70px 70px 90px 90px;
    font-size: 50px;

    a{
        color: $color-txt-footer;
    }

    &__title{
        font-family: 'shrikhand';
        margin-top: 0;
    }
    &__infos{
        font-family: 'roboto-light';
    }

    &__ustensils-hands{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__icons{
        margin-right: 30px;

        &.ustensils{
            font-size: 45px;
        }

        &.hands-helping{
            font-size: 28px;
        }
    }
}