@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/buttons.scss";
@import "./utils/animations";
@import "./base/fonts.scss";
@import "./base/normes";
@import "./layout/header";
@import "./layout/footer";

body {
  @include body;
}

// ----------Localisation----------

.geo {
  /*icone localisation et nom des villes*/
  @include flex-row-center;
  font-size: $small-description;
  padding: 12px;
  color: $bg-footer;
  background-color: $bg-localisation;
  box-shadow: 0 10px 10px $color-box-shadow-lieux inset;
  &__icon {
    margin-right: 15px;
  }
  &__city {
    margin: 0;
    font-weight: bold;
  }
}

// ----------Présentation----------

.description {
  /*presentation et bouton "explorer nos restaurants"*/
  @include flex-column-center;
  align-items: center;
  background-color: $bg-principal;
  padding: 20px;
  text-align: center;

  &__title {
    font-size: $large-title;
    margin-bottom: 0;
  }

  &__details {
    font-family: "roboto-light";
    font-size: $medium-description;
    margin-top: 15px;
  }
}

.desktop-responsive {
  @include desktop-only {
    display: flex;
    justify-content: center;
  }
}

// ----------Fonctionnement----------

.fonctionnement {
  @include flex-column-center;
  align-items: flex-start;
  padding: $padding-section;

  @include desktop-only {
    display: flex;
    justify-content: flex-start;
  }

  @include tablette-only{
    @include flex-column-center;
    align-items: center;
  }

  &__title {
    font-size: $large-title;
    font-family: "roboto-medium";
    margin: 20px 0;

    @include desktop-only{
        margin: 15px 0 20px 0;
    }
  }

  &__full-step {
    width: 97%;
  }
}

.card-step {
  @include flex-row-start;
  align-items: center;
  margin-bottom: 18px;

  &__step {
    @include step;
    align-items: center;
    position: relative;
    left: 12px;

    &__names {
      margin: 0;
      font-size: $small-description;
    }

    &__icon-container {
      /*alignement et taille des icones par rapport au nom de l'étape */
      @include flex-row-center;
      align-items: center;
      width: 15px;
      height: 15px;
      margin-right: 20px;
    }

    i {
      color: $color-icon-fct;
      font-size: 15px;
    }

    &:hover {
      background-color: #f5edff;

      i {
        color: $color-primary;
      }
    }
  }

  &__cercle {
    /*superposition du cercle sur step*/
    @include cercle;
    position: absolute;
    z-index: 1;
  }
}

// ----------section restaurants----------

.restaurants {
  padding: $padding-section;
  background-color: $bg-principal;

  @include desktop-only {
    background-color: $color-white;
  }

  @include tablette-only{
      @include flex-column-center;
      align-items: center;
  }

  &__title {
    font-size: $large-title;
    font-family: "roboto-medium";
  }

  &__bloc-resto {
    @include flex-column-start;
    @include tablette-only{
      @include flex-row-center;
      flex-wrap: wrap;
    }
    @include desktop-only {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

.card-resto {
  @include card-resto;
  position: relative;
  transform: scale(1);
  transition: transform 200ms;

  &:hover{
    transform: scale(1.05);
  }

  @include desktop-only {
    max-width: 310px;
    margin-right: 30px;
  }

  @include tablette-only{
    max-width: 300px;
    margin-right: 30px;
  }

  img {
    height: 150px;
    border-radius: 15px 15px 0 0;
  }
}

.no-marginR{
  margin-right: 0;
}

.caption {
  /*mise en forme de figcaption des cards*/
  padding: 7px 10px 15px 10px;
  color: $color-black;

  &__names {
    margin: 0;
    font-family: "roboto-medium";
    font-size: $medium-description;
  }

  &__quartier {
    margin: 2px 0 0 0;
    font-family: "roboto-light";
    font-size: $size-quarter;
  }

  &__nouveau {
    @include nouveau; /*style du rectangle "nouveau" sur les 2 premières card*/
    position: absolute;
    right: 12px;
    top: 15px;

    p {
      margin: 0;
      font-size: $small-description;
    }
  }

  &__heart {
    @include heart;
    position: absolute;
    right: 20px;
    bottom: 28px;
  }
}