.header{  /*grand titre centré 'shirkhand'*/
    @include flex-row-center;
    align-items: center;

    &__title{
        font-size: $big-title;
        font-family: 'shrikhand';
        margin: 0;
        padding: 20px 0 10px 0;
    }
}