@charset "UTF-8";
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #9356DC;
  animation: 0.5s loader-bg forwards;
  animation-delay: 2s;
}
.loader-container i {
  position: fixed;
  animation: 3s spin forwards;
  color: #FF79DA;
  font-size: 100px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    transform: rotateZ(360deg);
    opacity: 0;
  }
}
@keyframes loader-bg {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.btn {
  margin: 10px 0 50px 0;
  position: relative;
  z-index: 1;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  box-shadow: 10px 15px 20px #d5d5d5;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  padding: 15px 20px;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(-5deg, #a16be0, #ff93e1);
  box-shadow: 10px 15px 20px #bcbcbc;
  transition: opacity 300ms;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  padding: 15px 50px;
}

.heart {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.heart:hover i {
  font-weight: 600;
  transition-duration: 0.5s;
}
.heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.heart:hover::before {
  cursor: pointer;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: transform ease-in-out 0.5s;
}

.fondu {
  animation: fade-in 1s forwards ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.n1 {
  animation-delay: 75ms;
}

.n2 {
  animation-delay: 150ms;
}

.n3 {
  animation-delay: 225ms;
}

.n4 {
  animation-delay: 300ms;
}

.n5 {
  animation-delay: 375ms;
}

.n6 {
  animation-delay: 450ms;
}

.n7 {
  animation-delay: 525ms;
}

.n8 {
  animation-delay: 600ms;
}

.n9 {
  animation-delay: 675ms;
}

.n10 {
  animation-delay: 750ms;
}

.n11 {
  animation-delay: 825ms;
}

.n12 {
  animation-delay: 900ms;
}

.n13 {
  animation-delay: 975ms;
}

.card__container-validation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 0 0;
  height: 100%;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border: none;
  width: 0;
  margin-right: -2rem;
  visibility: hidden;
}
.check__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: #FFFFFF;
  font-size: 14px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transform: rotate(-180deg);
  transition: transform 300ms;
}

.card:hover .text {
  width: 20rem;
}
.card:hover .check {
  animation: slidIn 0.2s forwards;
}
.card:hover .check__logo-container {
  transform: rotate(360deg);
}

@keyframes slidIn {
  to {
    width: 8em;
    visibility: visible;
  }
}
@font-face {
  font-family: "shrikhand";
  src: url("fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-medium";
  src: url("fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-light";
  src: url("fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-thin";
  src: url("fonts/roboto/roboto-thin-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  object-fit: cover;
  width: 100%;
}

figure {
  margin: 0;
}

.header {
  /*grand titre centré 'shirkhand'*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 25px;
  font-family: "shrikhand";
  margin: 0;
  padding: 20px 0 10px 0;
}

.footer {
  /*footer blanc sur gris avec titre 'shrikhand et infos 'roboto-light'*/
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px 20px 35px 30px;
}
.footer__title {
  margin-top: 0;
  font-family: "shrikhand";
  font-size: 16px;
  color: #FFFFFF !important;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
}
.footer__infos {
  font-family: "roboto-light";
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .footer__infos {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

.footer__infos a {
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .footer__infos a {
    margin-right: 75px;
  }
}
.footer__infos--premieres {
  /*concerne seulement les deux premiers liens du footer*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__infos--premieres__icon-container {
  /*alignement des icones avec le texte*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  font-size: 12px;
}

.blanc {
  color: #FFFFFF;
}

.gradient-hover:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #FFFF;
  font-family: "roboto";
  margin: 0;
  height: 100%;
}

.header__logo-return {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  left: 20px;
  margin-top: 8px;
  width: 20px;
  height: 20px;
}
.header__logo-return i {
  color: #353535;
}
.header__logo-return i .gradient-hover:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
  .responsive-menu {
    display: flex;
    justify-content: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
  align-items: center;
  width: 100%;
}

.illustration {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.illustration img {
  max-height: 215px;
}
@media screen and (min-width: 1024px) {
  .illustration img {
    max-height: 450px;
  }
}

.bloc-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 45px;
  width: 100%;
  box-sizing: border-box;
}
.bloc-menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 1024px) {
  .bloc-menu__header {
    margin: 20px 40px 0 40px;
  }
}
.bloc-menu__header__title {
  margin-left: 5px;
  font-size: 25px;
  font-family: "shrikhand";
}
.bloc-menu__header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
}
.bloc-menu__bloc-repas {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
@media screen and (min-width: 1024px) {
  .bloc-menu__bloc-repas {
    margin-right: 30px;
  }
  .bloc-menu__bloc-repas:nth-last-child(1) {
    margin-right: 0;
  }
}
.bloc-menu__bloc-repas__title {
  font-family: "roboto-light";
  font-weight: normal;
  font-size: 16px;
  margin: 20px 5px 5px 5px;
  text-transform: uppercase;
  opacity: 0;
}
.bloc-menu__bloc-repas__title::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: 5px;
}
.bloc-menu__bloc-repas__suggestions {
  margin-top: 12px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 100%;
  height: 7rem;
  margin: 1rem auto 1rem;
  cursor: pointer;
  opacity: 0;
  box-shadow: 10px 15px 20px #e4e4e4;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 32rem;
  }
}
.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  transition: width 0.3s ease-in-out;
  flex: 1;
}
.card__text__title {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text__desc-supp {
  font-size: 13px;
  font-family: "roboto-light";
  margin: 5px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .cost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #353535;
  margin: 3rem 2rem 0 0;
  text-overflow: unset;
}

/*# sourceMappingURL=menu.css.map */
