@charset "UTF-8";
@font-face {
  font-family: "shrikhand";
  src: url("fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-medium";
  src: url("fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-light";
  src: url("fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-thin";
  src: url("fonts/roboto/roboto-thin-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  margin: auto;
  font-family: "roboto";
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  object-fit: cover;
  width: 100%;
}

figure {
  margin: 0;
}

.header {
  /*grand titre centré 'shirkhand'*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 25px;
  font-family: "shrikhand";
  margin: 0;
  padding: 20px 0 10px 0;
}

.footer {
  /*footer blanc sur gris avec titre 'shrikhand et infos 'roboto-light'*/
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px 20px 35px 30px;
}
.footer__title {
  font-family: "shrikhand";
  margin-top: 0;
  font-size: 16px;
}
.footer__infos {
  font-family: "roboto-light";
  font-size: 14px;
  line-height: 22px;
}

.footer__infos--premieres {
  /*concerne seulement les deux premiers liens du footer*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__infos--premieres__icon-container {
  /*alignement des icones avec le texte*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  font-size: 12px;
}

.geo {
  /*icone et nom des villes*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  background-color: #EAEAEA;
  box-shadow: 0 10px 10px #CECECE inset;
  color: #353535;
  padding: 12px;
}
.geo__icon {
  margin-right: 15px;
}
.geo__city {
  margin: 0;
}

.description {
  /*presentation et bouton "explorer nos restaurants*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 20px;
  text-align: center;
}
.description__title {
  font-size: 20px;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.description__details {
  font-family: "roboto-light";
  font-size: 16px;
  margin-top: 30px;
}
.description__btn {
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  background: linear-gradient(-5deg, #A85DDB, #FF79DA);
  padding: 15px 20px;
  border: transparent;
  border-radius: 5000px;
  box-shadow: 10px 15px 20px #d5d5d5;
  margin: 10px 0 50px 0;
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 40px 20px;
  font-size: 14px;
}
.fonctionnement__title {
  font-size: 20px;
  font-family: "roboto-medium";
  margin: 20px 0;
}
.fonctionnement__full-step {
  width: 97%;
}
.fonctionnement__full-step__card-step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-step {
  margin-bottom: 18px;
}
.card-step__step {
  background-color: #F6F6F6;
  border: transparent;
  border-radius: 15px;
  padding: 22px 30px;
  box-shadow: 5px 5px 10px #E6E6E6;
  left: 12px;
  width: 100%;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
}
.card-step__step:hover i {
  color: #9356DC;
}
.card-step__cercle {
  /*superposition du cercle sur step*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 40px;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;
}

.step__names {
  margin: 0;
}
.step__icon-container {
  /*alignement et taille des icones par rapport au nom de l'étape */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
.step i {
  color: #7E7E7E;
  font-size: 15px;
}
.step:hover {
  background-color: #efe7f3;
}
.step:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 20px 20px 40px 20px;
  background-color: #F6F6F6;
}
.restaurants__title {
  font-size: 20px;
  font-family: "roboto-medium";
}
.restaurants__bloc-resto {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card-resto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: transparent;
  width: 100%;
  position: relative;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px #E6E6E6;
}
.card-resto img {
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.caption {
  /*mise en forme de figcaption des card*/
  padding: 7px 10px 15px 10px;
}
.caption__names {
  margin: 0;
  font-family: "roboto-medium";
  font-size: 16px;
}
.caption__quartier {
  margin: 2px 0 0 0;
  font-family: "roboto-light";
  font-size: 15px;
}
.caption__nouveau {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  padding: 5px 5px;
  width: 70px;
  border-radius: 3px;
  position: absolute;
  right: 12px;
  top: 15px;
  /*style du rectangle "nouveau" sur les 2 premières card*/
}
.caption__nouveau p {
  margin: 0;
  font-size: 14px;
}
.caption__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 28px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
