@charset "UTF-8";
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #9356DC;
  animation: 3s loader-bg forwards;
}
.loader-container i {
  position: fixed;
  animation: 3s spin forwards;
  color: #FF79DA;
  font-size: 100px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    transform: rotateZ(360deg);
    opacity: 0;
  }
}
@keyframes loader-bg {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.btn {
  margin: 10px 0 50px 0;
  position: relative;
  z-index: 1;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  box-shadow: 10px 15px 20px #d5d5d5;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  padding: 15px 20px;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(-5deg, #a16be0, #ff93e1);
  box-shadow: 10px 15px 20px #bcbcbc;
  transition: opacity 300ms;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  padding: 15px 50px;
}

.heart {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.heart:hover i {
  font-weight: 600;
  transition-duration: 0.5s;
}
.heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.heart:hover::before {
  cursor: pointer;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: transform ease-in-out 0.5s;
}

.fondu {
  animation: fade-in 1s forwards ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.n1 {
  animation-delay: 75ms;
}

.n2 {
  animation-delay: 150ms;
}

.n3 {
  animation-delay: 225ms;
}

.n4 {
  animation-delay: 300ms;
}

.n5 {
  animation-delay: 375ms;
}

.n6 {
  animation-delay: 450ms;
}

.n7 {
  animation-delay: 525ms;
}

.n8 {
  animation-delay: 600ms;
}

.n9 {
  animation-delay: 675ms;
}

.n10 {
  animation-delay: 750ms;
}

.n11 {
  animation-delay: 825ms;
}

.n12 {
  animation-delay: 900ms;
}

.n13 {
  animation-delay: 975ms;
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-medium";
  src: url("fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-light";
  src: url("fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-thin";
  src: url("fonts/roboto/roboto-thin-webfont.woff2") format("woff2"), url("fonts/roboto/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  object-fit: cover;
  width: 100%;
}

figure {
  margin: 0;
}

.header {
  /*grand titre centré 'shirkhand'*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 25px;
  font-family: "shrikhand";
  margin: 0;
  padding: 20px 0 10px 0;
}

.footer {
  /*footer blanc sur gris avec titre 'shrikhand et infos 'roboto-light'*/
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px 20px 35px 30px;
}
.footer__title {
  margin-top: 0;
  font-family: "shrikhand";
  font-size: 16px;
  color: #FFFFFF !important;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
}
.footer__infos {
  font-family: "roboto-light";
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .footer__infos {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .footer__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

.footer__infos a {
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .footer__infos a {
    margin-right: 75px;
  }
}
.footer__infos--premieres {
  /*concerne seulement les deux premiers liens du footer*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__infos--premieres__icon-container {
  /*alignement des icones avec le texte*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  font-size: 12px;
}

.blanc {
  color: #FFFFFF;
}

.gradient-hover:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #FFFF;
  font-family: "roboto";
  margin: 0;
  height: 100%;
}

.geo {
  /*icone localisation et nom des villes*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  padding: 12px;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: 0 10px 10px #CECECE inset;
}
.geo__icon {
  margin-right: 15px;
}
.geo__city {
  margin: 0;
  font-weight: bold;
}

.description {
  /*presentation et bouton "explorer nos restaurants"*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 20px;
  text-align: center;
}
.description__title {
  font-size: 20px;
  margin-bottom: 0;
}
.description__details {
  font-family: "roboto-light";
  font-size: 16px;
  margin-top: 15px;
}

@media screen and (min-width: 1024px) {
  .desktop-responsive {
    display: flex;
    justify-content: center;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 40px 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.fonctionnement__title {
  font-size: 20px;
  font-family: "roboto-medium";
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__title {
    margin: 15px 0 20px 0;
  }
}
.fonctionnement__full-step {
  width: 97%;
}

.card-step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;
}
.card-step__step {
  display: flex;
  background-color: #F6F6F6;
  border: transparent;
  border-radius: 15px;
  padding: 22px 30px;
  box-shadow: 5px 5px 10px #E6E6E6;
  width: 100%;
  font-weight: bold;
  align-items: center;
  position: relative;
  left: 12px;
}
.card-step__step__names {
  margin: 0;
  font-size: 14px;
}
.card-step__step__icon-container {
  /*alignement et taille des icones par rapport au nom de l'étape */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
.card-step__step i {
  color: #7E7E7E;
  font-size: 15px;
}
.card-step__step:hover {
  background-color: #f5edff;
}
.card-step__step:hover i {
  color: #9356DC;
}
.card-step__cercle {
  /*superposition du cercle sur step*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 30px;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;
}

.restaurants {
  padding: 20px 20px 40px 20px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.restaurants__title {
  font-size: 20px;
  font-family: "roboto-medium";
}
.restaurants__bloc-resto {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .restaurants__bloc-resto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__bloc-resto {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-resto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: transparent;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px #E6E6E6;
  position: relative;
  transform: scale(1);
  transition: transform 200ms;
}
.card-resto:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .card-resto {
    max-width: 310px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-resto {
    max-width: 300px;
    margin-right: 30px;
  }
}
.card-resto img {
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.caption {
  /*mise en forme de figcaption des cards*/
  padding: 7px 10px 15px 10px;
  color: #000000;
}
.caption__names {
  margin: 0;
  font-family: "roboto-medium";
  font-size: 16px;
}
.caption__quartier {
  margin: 2px 0 0 0;
  font-family: "roboto-light";
  font-size: 15px;
}
.caption__nouveau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  padding: 5px 5px;
  width: 70px;
  border-radius: 3px;
  /*style du rectangle "nouveau" sur les 2 premières card*/
  position: absolute;
  right: 12px;
  top: 15px;
}
.caption__nouveau p {
  margin: 0;
  font-size: 14px;
}
.caption__heart {
  color: #000;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 28px;
}

/*# sourceMappingURL=style.css.map */
