@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cercle {
    background-color: $color-primary;
    color: #FFFFFF;
    border: 20px;
}

@mixin btn-resto{
    font-size: 50px;
    font-weight: 500;
    color: #FFFFFF;
    background: linear-gradient(-5deg, #A85DDB, $color-secondary);
    padding: 45px 65px;
    border: transparent;
    border-radius: 5000px;
    box-shadow: 10px 15px 20px #d5d5d5;
    margin: 30px 0 54px 0;
}

@mixin step{
    background-color: #F6F6F6;
    border: transparent;
    border-radius: 60px;
    padding: 60px 100px;
    box-shadow: 10px 15px 20px #d5d5d5;
    left: 30px;
    width: 100%;
    font-weight: bold;
}

@mixin cercle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: $color-primary;
    color: white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}