// ------mixins flexbox------

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ------mixins du site------ 

@mixin btn-setup{
    font-size: 15px;
    font-weight: 500;
    color: $color-white;
    background: linear-gradient(-5deg, #A85DDB, $color-secondary);
    border: transparent;
    border-radius: 30px;
    box-shadow: 10px 15px 20px #d5d5d5;
    margin: 10px 0 50px 0;
    cursor: pointer;
}

@mixin step{
    display: flex;
    background-color: $bg-principal;
    border: transparent;
    border-radius: 15px;
    padding: 22px 30px;
    box-shadow: 5px 5px 10px $color-box-shadow-card;
    width: 100%;
    font-weight: bold;
}

@mixin cercle{
    @include flex-center;
    padding: 5px;
    background-color: $color-primary;
    color: $color-white;
    font-size: $small-description;
    border-radius: 30px;
    width: 15px;
    height: 15px;
}

@mixin card-resto{
    @include flex-column-start;
    border: transparent;
    width: 100%;
    height: auto;
    background-color: $color-white;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px $color-box-shadow-card;
}

@mixin nouveau{
    @include flex-row-center;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 35%);
    font-weight: bold;
    padding: 5px 5px;
    width: 70px;
    border-radius: 3px;
    
}

@mixin heart{
    @include flex-center;
    font-size: 20px;
}