// ------mixins flexbox------

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ------mixins du site------ 

@mixin body{
    background-color: #FFFF;
    font-family: "roboto";
    margin:0;
    height: 100%;
}

@mixin btn-setup{
    margin: 10px 0 50px 0;
    position: relative;
    z-index: 1;

    border: transparent;
    border-radius: 30px;
    background: linear-gradient(-5deg, $color-primary, $color-secondary);
    box-shadow: 10px 15px 20px #d5d5d5;

    font-size: 15px;
    font-weight: 500;
    color: $color-white;

    cursor: pointer;
    
        
}

@mixin step{
    display: flex;
    background-color: $bg-principal;
    border: transparent;
    border-radius: 15px;
    padding: 22px 30px;
    box-shadow: 5px 5px 10px $color-box-shadow-card;
    width: 100%;
    font-weight: bold;
}

@mixin cercle{
    @include flex-center;
    padding: 5px;
    background-color: $color-primary;
    color: $color-white;
    font-size: $small-description;
    border-radius: 30px;
    width: 15px;
    height: 15px;
}

@mixin card-resto{
    @include flex-column-start;
    border: transparent;
    width: 100%;
    height: auto;
    background-color: $color-white;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px $color-box-shadow-card;
}

@mixin nouveau{
    @include flex-row-center;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 35%);
    font-weight: bold;
    padding: 5px 5px;
    width: 70px;
    border-radius: 3px;
    
}

@mixin illustration {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img{
        max-height: 215px;
    }
}


// Animations CSS

@mixin heart_hover{
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

@mixin heart{
    color: #000;
    font-size: 25px;
    cursor:pointer;
}

@mixin gradient-hover {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Responsive

@mixin tablette-only {
    @media screen and(min-width: map-get($map: $breakpoints, $key: tablette)){
        @content;
    }
}

@mixin desktop-only {
    @media screen and(min-width: map-get($map: $breakpoints, $key: desktop)){
        @content;
    }
}

//Animation Coche verte

@mixin coche {
    &:hover::after{
        opacity: 1;
    }
    &::after{
        background: $color-tertiary;
        opacity: 0;
        
    }
}