// couleurs principales du site

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// éléments pratiques
$bg-desc-resto: #F6F6F6;
$padding-section: 20px 20px 40px 20px;
$color-geo: #353535;

$font-size-h2: 22px;
$font-size-standard: 18px;



// footer
$color-bg-footer: #414141;
$color-txt-footer: #FFFFFF;
