$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-geo: #353535;

$font-size-h2: 60px;
$font-size-descritpion: 50px;



// footer
$color-bg-footer: #414141;
$color-txt-footer: #FFFFFF;
